.description {
    width: 100%;
    margin: 0 0 10px;
    font-size: 0.9rem;
    padding: 2px 3px;
}

.deleteButton {
    position: absolute;
    right: 2px;
    top: 2px;
    padding: 3px 11px;
}

.price {
    color: var(--orange-dark);
    margin-left: auto;
    margin-right: 10px;
    font-weight: bold;
}
