@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'header.css';

:root {
  --dark: #0f1111;
  --ligth-gray: #ccc;
  --orange: #fa531b;
  --orange-dark: #bd4b1a;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--dark);
}

h1 {
  font-size: 2rem;
  margin: 0 0 1.2rem;
}

button {
  text-align: center;
  border-radius: 20px;
  font-size: 0.9rem;
  font-weight: bold;
  color: white;
  background: var(--orange-dark);
  padding: 3px 15px;
}

button:hover {
  background: var(--orange);
}

button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}
